<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="icon" href="../static/images/Razeboticon.ico" type="image/x-icon">

    <!-- User End Stuff -->
    <title>Razebot - The first and last Discord bot you'll need for VALORANT</title>
    <meta property="og:description" content="The Ultimate VALORANT Discord Bot.">

    <!-- Insert all the meta tags here -->


</head>

<body class="scroll-smooth">
    <!-- Nav Bar -->
    <nav class="flex items-center bg-mainbg p-3 flex-wrap sticky top-0 z-50">
        <a href="/" class="p-2 mr-4 inline-flex items-center">
            <img src="../static/images/Valobot logo raze thicckened.png" alt="Logo" class="h-10 mr-4">
            <span class="text-xl font-bold uppercase tracking-wide text-white">
                Razebot
            </span>
        </a>
        <button class="inline-flex p-3 hover:bg-valoreddarker rounded lg:hidden ml-auto transition ease-in-out duration-100 text-white" onclick="menuToggle()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>        
        </button>
        <div class="hidden w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
            <div class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto lg:items-center flex flex-col ">
                <a href="{{discord_url}}" class="transition-all lg:inline-flex lg:w-auto px-3 py-2 rounded text-gray-400 hover:text-white hover:bg-valoreddarker">
                    <span>Dashboard</span>
                </a>
                <a href="/support" class="transition-all lg:inline-flex lg:w-auto px-3 py-2 rounded text-gray-400 hover:text-white hover:bg-valoreddarker">
                    <span>Support Discord</span>
                </a>
                <a href="https://github.com/MaximumMaxxx/Razebot" class="transition-all lg:inline-flex lg:w-auto px-3 py-2 rounded text-gray-400 hover:text-white hover:bg-valoreddarker">
                    <span>Source Code</span>
                </a>
            </div>
        </div>
    </nav>

    <!-- Title and subtitle -->
    <div class="grid place-items-center bg-mainbg">
            <h1 class="flex flex-col justify-center font-bold uppercase tracking-wide  text-valored text-7xl sm:text-9xl p-0 m-0">Razebot</h1>
            <h3 class="flex flex-col justify-center text-white text-xl sm:text-2xl ml-10 mr-10 text-center">The Only Discord Bot you'll need for VALORANT</h3>
    </div>
    
    <!-- buttons -->
    <div class="grid place-items-center bg-mainbg text-white pt-4">
        <a href="{{discord_url}}" class="flex justify-center items-center text-center bg-valored hover:bg-valoreddarker transition-all rounded-lg p-4 h-10 w-36">Add to Discord</a>
        <a href="#Features" class="flex mt-2 justify-center text-center items-center bg-slate-400 hover:bg-slate-500 transition-all rounded-lg p-4 h-8 w-28">Features</a>
    </div>

    <!-- Divider Bar -->
    <div class="grid place-items-center h-2 bg-black p-4">
        <div class="flex justify-center items-center h-1 w-4/5 bg-valored rounded-lg"></div>
    </div>

    <!-- Features Section -->
    <div id="Features">
        <div class="grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Dynamic Rank Checking</h1>
            <img class="w-3/5 max-w-xl h-auto p-4 rounded-lg" alt="Example Of Rank Checking Embed" src="../static/images/Rc.png">
                

        </div>

        <div class="pt-4 grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Fully integrated Account Storage</h1>
            <img class="w-3/5 max-w-xl h-auto p-4 rounded-lg" alt="Example of using quick accounts to quickly check a rank" src="../static/images/CrossIntegration.png">

        </div>

        <div class="pt-4 grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Cross server account storage</h1>
            

        </div>

        <div class="pb-4 pt-4 grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Other Fun Commands</h1>
            

        </div>
    </div>  

    <!-- Footer -->
    <footer class="grid sm:place-items-center bg-valored text-white">
        <div class="grid gap-4 p-4 max-w-4xl grid-cols-1 sm:place-items-center sm:grid-cols-2 lg:grid-cols-3 ">
            <a href="/legal" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
                <span>Legal</span>
            </a>
            <a href="https://github.com/MaximumMaxxx/Razebot" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
                <span>Source Code</span>
            </a>
            <a href="/about" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
                <span>About</span>
            </a>
            <a href="/privacy" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
                <span>Privacy Policy</span>
            </a>
            <a href="/support" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
                <span>Support</span>
            </a>
            <a href="/contact" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
                <span>Contact</span>
            </a>

        </div>
    </footer>
</body>
</html>

<script>
    // Probably could do this in python but it was just easier in js

    // Basic Statemanagement for the dashboard
    function menuToggle() {
        let menu = document.getElementById("navigation")
        menu.classList.toggle("hidden")
    }
</script>