<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/images/Razeboticon.ico" type="image/x-icon">
    <!-- User End Stuff -->
    <title>Razebot - The first and last Discord bot you'll need for VALORANT</title>
    <meta property="og:description" content="The Ultimate VALORANT Discord Bot.">

    <!-- Insert all the meta tags here -->


</head>

<body class="scroll-smooth">
    {% import 'macros.html' as macros %}
    <!-- Nav Bar -->
    {{ macros.topdropdownmenu(logged_in) }}

    <!-- Title and subtitle -->
    <div class="grid place-items-center bg-mainbg">
        <h1
            class="flex flex-col justify-center font-bold uppercase tracking-wide  text-valored text-7xl sm:text-9xl p-0 m-0">
            Razebot</h1>
        <h3 class="flex flex-col justify-center text-white text-xl sm:text-2xl ml-10 mr-10 text-center">The Only Discord
            Bot you'll need for VALORANT</h3>
    </div>

    <!-- buttons -->
    <div class="grid place-items-center bg-mainbg text-white pt-4">
        <a href="{{discord_url}}"
            class="flex justify-center items-center text-center bg-valored hover:bg-valoreddarker transition-all rounded-lg p-4 h-10 w-36">Add
            to Discord</a>
        <a href="#Features"
            class="flex mt-2 justify-center text-center items-center bg-slate-400 hover:bg-slate-500 transition-all rounded-lg p-4 h-8 w-28">Features</a>
    </div>

    <!-- Divider Bar -->
    <div class="grid place-items-center h-2 bg-black p-4">
        <div class="flex justify-center items-center h-1 w-4/5 bg-valored rounded-lg"></div>
    </div>

    <!-- Features Section -->
    <div id="Features">
        <div
            class="grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Dynamic Rank Checking</h1>
            <img class="w-3/5 max-w-xl h-auto p-4 rounded-lg text-gray-500" alt="Example Of Rank Checking Embed"
                src="../static/images/rankcheck.gif">


        </div>

        <div
            class="pt-4 grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Automatic rank assignment</h1>

        </div>

        <div
            class="pt-4 grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Cross server account storage</h1>


        </div>

        <div
            class="pb-4 pt-4 grid grid-cols-1 place-items-center p-4 text-xl sm:text-2xl justify-center font-bold text-white bg-black">
            <h1>Full moderation suite</h1>


        </div>
    </div>
    {{ macros.footer() }}
</body>

</html>