{% macro profile(logged_in) %}
{% if logged_in[0] %}
<!-- Only rendered if you're logged in -->
<div
    class="relative flex flex-col gap-1 text-white ml-2 hover:bg-valoreddarker transition-all px-2 py-2 rounded lg:ml-auto">
    <button onclick="profileToggle()" class="flex flex-row">
        <img src="{{logged_in[1]}}" alt="Profile picture"
            class="rounded-full h-7 w-7 mr-4 border-white border-2 bg-black">
        <span class="font-semibold hidden sm:block">{{logged_in[2]}}</span>
    </button>
    <div name="profile"
        class="absolute top-11 right-[0px] flex flex-col transition-all duration-300 h-0 rounded-lg border-transparent border-2 bg-transparent p-2 w-28 sm:w-full">
        <a name="profileitem" class="hidden hover:bg-valoreddarker rounded w-full p-1" href="/logout">Signout</a>
        <a name="profileitem" class="hidden hover:bg-valoreddarker rounded w-full p-1" href="/me">Profile</a>
        <a name="profileitem" class="hidden hover:bg-valoreddarker rounded w-full p-1"
            href="/serverselect">Dashboard</a>
    </div>
</div>
{% else %}
<a href="/login"
    class=" px-2 py-2 bg-black hover:bg-valoreddarker text-lg transition-all rounded text-gray-400 hover:text-white ml-auto lg:ml-auto">Login</a>
{% endif %}
<script>
    function profileToggle() {
        let profiles = document.getElementsByName("profile")

        profiles.forEach(element => {
            element.classList.toggle("h-32");
            element.classList.toggle("!bg-black")
            setTimeout(lambda => {
                element.classList.toggle("!border-valored");
            }, 70);
        });



        let profileitems = document.getElementsByName("profileitem");
        let i = 1;
        profileitems.forEach(element => {
            setTimeout(lambda => {
                element.classList.toggle("hidden");
            }, 20 * i);
            i += 1;
        });
    }
</script>
{% endmacro %}

<!-- Top drop down -->
{% macro topdropdownmenu(logged_in) %}
<nav class="flex items-center bg-mainbg p-3 flex-wrap sticky top-0 z-50">
    <a href="/" class="p-2 mr-4 inline-flex items-center">
        <img src="../static/images/Valobot logo raze thicckened.png" alt="Logo" class="h-10 mr-4">
        <span class="text-xl font-bold uppercase tracking-wide text-white">
            Razebot
        </span>
    </a>
    <button
        class="inline-flex p-3 hover:bg-valoreddarker rounded lg:hidden ml-auto transition ease-in-out duration-100 text-white"
        onclick="menuToggle()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <!-- Very janky solution but it makes the profile thing always on the right sooo -->
    <div class="lg:hidden">
        {{ profile(logged_in) }}
    </div>

    <div class="hidden w-full lg:inline-flex lg:w-max lg:flex-grow" id="navigation">
        <div class="lg:inline-flex lg:flex-row lg:w-auto lg:items-center flex flex-col lg:ml-auto">
            <a href="{{discord_url}}/serverselect"
                class="transition-all lg:inline-flex lg:w-auto px-3 py-2 rounded text-gray-400 hover:text-white hover:bg-valoreddarker">
                <span>Dashboard</span>
            </a>
            <a href="/support"
                class="transition-all lg:inline-flex lg:w-auto px-3 py-2 rounded text-gray-400 hover:text-white hover:bg-valoreddarker">
                <span>Support Discord</span>
            </a>
            <a href="https://github.com/MaximumMaxxx/Razebot"
                class="transition-all lg:inline-flex lg:w-auto px-3 py-2 rounded text-gray-400 hover:text-white hover:bg-valoreddarker">
                <span>Source Code</span>
            </a>
            <div class="hidden lg:block">
                {{ profile(logged_in) }}
            </div>
        </div>
    </div>
</nav>
<script>
    // Probably could do this in python but it was just easier in js
    // Basic Statemanagement for the dashboard
    function menuToggle() {
        let menu = document.getElementById("navigation");
        menu.classList.toggle("hidden");
    }</script>
{% endmacro %}

{% macro footer() %}
<!-- Footer -->
<footer class="grid sm:place-items-center bg-valored text-white">
    <div class="grid gap-4 p-4 max-w-4xl grid-cols-1 sm:place-items-center sm:grid-cols-2 lg:grid-cols-3 ">
        <a href="/legal" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
            <span>Legal</span>
        </a>
        <a href="https://github.com/MaximumMaxxx/Razebot" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
            <span>Source Code</span>
        </a>
        <a href="/about" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
            <span>About</span>
        </a>
        <a href="/privacy" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
            <span>Privacy Policy</span>
        </a>
        <a href="/support" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
            <span>Support</span>
        </a>
        <a href="/contact" class="hover:bg-valoreddarker rounded-lg p-2 transition-all">
            <span>Contact</span>
        </a>

    </div>
</footer>
{% endmacro %}