<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/images/Razeboticon.ico" type="image/x-icon">
    <!-- User End Stuff -->
    <title>Razebot - The first and last Discord bot you'll need for VALORANT</title>
    <meta property="og:description" content="The Ultimate VALORANT Discord Bot.">

    <!-- Insert all the meta tags here -->
</head>

<!-- Two column layout with a link to the actual privacy policy on the right and a bullet point summary on the right -->

<body class="bg-black overflow-hidden">
    {% import 'macros.html' as macros %}
    <!-- Nav Bar -->
    {{ macros.topdropdownmenu(logged_in) }}

    <!-- Overall wrapper -->
    <div class="flex justify-center items-center h-screen text-white">

        <!-- Left column -->
        <div class="text-center">
            <h1 class="text-2xl font-bold">Privacy policies are boring so here's the jist</h1>
            <ul class="text-lg">
                <li>There's no cookies besides discord's</li>
                <li>Your account(s) are linked to your discord user id</li>
                <li>Your actual discord username, tag, password, or anything aren't stored</li>
                <li>All your network traffic goes through standard secure web stuff</li>
            </ul>
            <h1 class="text-sm">If you want to read the actual boring document you can <a href="/boringPrivacyPolicy"
                    class="text-blue-400 underline">Here</a> </h1>
        </div>





    </div>
    </div>
</body>